<!-- <footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2021</span>
    </div>
</footer> -->
<link rel="stylesheet" href="/stylesheets/footer.css">
<footer class="site-footer container-fluid mt-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="footernotes">The Shiv Nadar University Central Library is the soul of the institution
                    and it is started acquiring, processing, preserving and disseminating information to the
                    user community with the motto of empowering knowledge. It has an extensive collection of
                    books, scientific and technical journals and electronic reference materials for satisfying
                    the academic and research needs of students and faculty community. </p>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
                        <a href="#" id="grp_name">Central Library</a>.
                    </p>
                </div>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Contact info</h6>
                <ul class="footer-links">
                    <li><a href="#"></a></li>
                    <li><a href="#">Moksh Jaswal</a></li>
                    <li><a href="#">Lakshay Jain</a></li>
                    <li><a href="#">Kush Goyal</a></li>
                    <li><a href="#">Mritunjay Singh</a></li>
                    <li><a href="#">P Vishnu Tej</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Contribute</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>