<link rel="stylesheet" href="/stylesheets/landingpage.css">

  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index">Welcome to SNU Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Services Provided by us
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <% if(currentUser.isAdmin == "No") { %> 
                        <li><a class="dropdown-item" href="/books/issuedbooks">List of books issued by you</a></li>
                        <% } %> 
                        <li><a class="dropdown-item" href="/books/latest">Newest additions to our collection</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    </ul>
                </li>
                <% if(currentUser.isAdmin == "Yes") { %> 
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/books/new">Add a new Book</a>
                    </li>
                   <% } %> 
            </ul>
        <div>
           <form action="/books/searchBook">
                <input type="search" class="search__input"  placeholder="Search" name="search">
              
            </form>
        </div>
        
        <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>





